{% set title = 'Authentication Login' %}
{% set page = 'pages-blank.html' %}
{% extends "layouts/auth.html" %}

{% block content %}
<section class="container h-100">
    <div class="row justify-content-center h-100 align-items-center">
        <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-7 col-sm-8">
            <div class="fs-big text-center text-danger fw-bold">500</div>
            <div class="fs-3 text-center fw-bold mb-4">Oops! You are stuck at 500</div>
            <div class="fs-6 text-center mb-3">
                Something's wrong!
                It looks as though we've broken something on our system.
                Don't panic, we are fixing it! Please come back in a while.
            </div>
            <form action="">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username"
                        aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
                </div>
            </form>
            <div class="text-center">
                <a href="index.html">Back to Home</a>

            </div>
            <div class="text-center mt-5 mb-5 text-muted">
                Copyright &copy; 2021 &mdash; Mulai dari null
            </div>
        </div>
    </div>
</section>
{% endblock %}