{% set title = 'Form Element' %}
{% set page = 'form-element.html' %}
{% extends "layouts/main.html" %}

{% block css%}
{% endblock %}
{% block content %}
<div class="main-content">
    <div class="title">
        Form Element
    </div>
    <div class="content-wrapper">
        <div class="card">
            <div class="card-header">
                <h4>Default Form</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="basicInput" class="form-label">Basic Input</label>
                            <input type="text" placeholder="Input Here" class="form-control" id="basicInput">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="withHelperText" class="form-label">With Helper Text Top</label>
                            <small class="text-muted">@description top</small>
                            <input type="text" class="form-control" id="withHelperText">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="disableInput" class="form-label">Disabled Input</label>
                            <input type="password" disabled class="form-control" id="disableInput">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="withHelperTextBottom" class="form-label">With Helper Text Bottom</label>
                            <input type="text" class="form-control" id="withHelperTextBottom"
                                aria-describedby="withHelperTextBottomHelp">
                            <div id="withHelperTextBottomHelp" class="form-text text-muted">Description Bottom
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="readOnlyInput" class="form-label">Read Only Input</label>
                            <input type="text" value="You can't edit this value" class="form-control" readonly
                                id="readOnlyInput">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="readOnlyInputPlain" class="form-label">Read Only Plain Text</label>
                            <input type="text" value="You can't edit this value" class="form-control-plaintext" readonly
                                id="readOnlyInputPlain">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="row same-height">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Input Sizing</h4>
                    </div>
                    <div class="card-body">
                        <p class="form-text mb-2">Set heights using classes like <code>.form-control-lg</code>
                            and
                            <code>.form-control-sm</code>.</p>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label for="basicInput" class="form-label">Small Input</label>
                                    <input class="form-control form-control-sm" type="text"
                                        placeholder=".form-control-sm" aria-label=".form-control-sm example">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label for="basicInput" class="form-label">Default Input</label>

                                    <input class="form-control" type="text" placeholder="Default input"
                                        aria-label="default input example">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label for=" basicInput" class="form-label">Large Input</label>
                                    <input class="form-control form-control-lg" type="text"
                                        placeholder=".form-control-lg" aria-label=".form-control-lg example">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Horizontal form label sizing</h4>
                    </div>
                    <div class="card-body">
                        <p class="form-text mb-2">
                            Be sure to use <code>.col-form-label-sm</code> or <code>.col-form-label-lg</code> to
                            your
                            <code>&lt;label&gt;</code>s or <code>&lt;legend&gt;</code>s to correctly follow the
                            size
                            of
                            <code>.form-control-lg</code> and <code>.form-control-sm</code>.
                        </p>
                        <div class="row mb-3">
                            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control form-control-sm" id="colFormLabelSm"
                                    placeholder="col-form-label-sm">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="colFormLabel" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="colFormLabel" placeholder="col-form-label">
                            </div>
                        </div>
                        <div class="row">
                            <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control form-control-lg" id="colFormLabelLg"
                                    placeholder="col-form-label-lg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="row same-height">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Select Sizing</h4>
                    </div>
                    <div class="card-body">
                        <p class="form-text mb-2">You may also choose from small and large custom selects to
                            match
                            our
                            similarly sized text inputs.
                        </p>
                        <div class="row">
                            <div class="col-md-12">
                                <select class="form-select form-select-sm mb-3" aria-label="Default select example">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <select class="form-select mb-3" aria-label="Default select example">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>checkbox</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Default checkbox
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                                        checked>
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Checked checkbox
                                    </label>
                                </div>
                            </div>
                            <p class="form-text mb-2 mt-4">Add the <code>disabled</code> attribute and the
                                associated
                                <code>&lt;label&gt;</code>s are automatically styled to match with a lighter
                                color
                                to
                                help indicate the input’s state.</p>
                            <div class="col-md-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled"
                                        disabled>
                                    <label class="form-check-label" for="flexCheckDisabled">
                                        Disabled checkbox
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value=""
                                        id="flexCheckCheckedDisabled" checked disabled>
                                    <label class="form-check-label" for="flexCheckCheckedDisabled">
                                        Disabled checked checkbox
                                    </label>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="content-wrapper">
        <div class="row same-height">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Radio</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Default radio
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault2" checked>
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Default checked radio
                                    </label>
                                </div>
                            </div>
                            <p class="form-text mb-2 mt-4">Add the <code>disabled</code> attribute and the
                                associated
                                <code>&lt;label&gt;</code>s are automatically styled to match with a lighter
                                color
                                to
                                help indicate the input’s state.</p>
                            <div class="col-md-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDisabled"
                                        id="flexRadioDisabled" disabled>
                                    <label class="form-check-label" for="flexRadioDisabled">
                                        Disabled radio
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDisabled"
                                        id="flexRadioCheckedDisabled" checked disabled>
                                    <label class="form-check-label" for="flexRadioCheckedDisabled">
                                        Disabled checked radio
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Inline Checkbox & Radio</h4>
                    </div>
                    <div class="card-body">
                        <p class="form-text mb-2">Group checkboxes or radios on the same horizontal row by
                            adding
                            <code>.form-check-inline</code> to any <code>.form-check</code>.</p>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                        value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1">1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2"
                                        value="option2">
                                    <label class="form-check-label" for="inlineCheckbox2">2</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3"
                                        disabled>
                                    <label class="form-check-label" for="inlineCheckbox3">3 (disabled)</label>
                                </div>
                            </div>
                            <p class="form-text mb-2">Add the <code>disabled</code> attribute and the associated
                                <code>&lt;label&gt;</code>s are automatically styled to match with a lighter
                                color
                                to
                                help indicate the input’s state.</p>
                            <div class="col-md-12">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">2</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio3" value="option3" disabled>
                                    <label class="form-check-label" for="inlineRadio3">3 (disabled)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="row same-height">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Switch</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                    <label class="form-check-label" for="flexSwitchCheckDefault">Default switch
                                        checkbox
                                        input</label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                                    <label class="form-check-label" for="flexSwitchCheckChecked">Checked switch
                                        checkbox
                                        input</label>
                                </div>
                            </div>
                            <p class="form-text mb-2 mt-4">Add the <code>disabled</code> attribute and the
                                associated
                                <code>&lt;label&gt;</code>s are automatically styled to match with a lighter
                                color
                                to
                                help indicate the input’s state.</p>
                            <div class="col-md-12">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled"
                                        disabled>
                                    <label class="form-check-label" for="flexSwitchCheckDisabled">Disabled
                                        switch
                                        checkbox input</label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled"
                                        checked disabled>
                                    <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">Disabled
                                        checked switch checkbox input</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Range</h4>
                    </div>
                    <div class="card-body">
                        <p class="form-text mb-2">By default, range inputs “snap” to integer values. To change
                            this,
                            you
                            can specify a <code>step</code> value. In the example below, we double the number of
                            steps
                            by using <code>step="0.5"</code>.</p>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="customRange3" class="form-label">Example range</label>
                                <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="row same-height">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Input Group</h4>
                    </div>
                    <div class="card-body">
                        <p class="form-text mb-2">Place one add-on or button on either side of an input. You may
                            also
                            place one on both sides of an input. Remember to place <code>&lt;label&gt;</code>s
                            outside
                            the input group.</p>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">@</span>
                                    <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                                        aria-describedby="basic-addon1">
                                </div>

                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Recipient's username"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <span class="input-group-text" id="basic-addon2">@example.com</span>
                                </div>

                                <label for="basic-url" class="form-label">Your vanity URL</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
                                    <input type="text" class="form-control" id="basic-url"
                                        aria-describedby="basic-addon3">
                                </div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text">$</span>
                                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                                    <span class="input-group-text">.00</span>
                                </div>

                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Username"
                                        aria-label="Username">
                                    <span class="input-group-text">@</span>
                                    <input type="text" class="form-control" placeholder="Server" aria-label="Server">
                                </div>

                                <div class="input-group">
                                    <span class="input-group-text">With textarea</span>
                                    <textarea class="form-control" aria-label="With textarea"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Input Group</h4>
                    </div>
                    <div class="card-body">
                        <p class="form-text mb-2">Add the relative form sizing classes to the
                            <code>.input-group</code>
                            itself and contents within will automatically resize—no need for repeating the form
                            control
                            size classes on each element.</p>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Small</span>
                                    <input type="text" class="form-control" aria-label="Sizing example input"
                                        aria-describedby="inputGroup-sizing-sm">
                                </div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Default</span>
                                    <input type="text" class="form-control" aria-label="Sizing example input"
                                        aria-describedby="inputGroup-sizing-default">
                                </div>

                                <div class="input-group input-group-lg">
                                    <span class="input-group-text" id="inputGroup-sizing-lg">Large</span>
                                    <input type="text" class="form-control" aria-label="Sizing example input"
                                        aria-describedby="inputGroup-sizing-lg">
                                </div>
                            </div>
                            <p class="form-text mb-2 mt-4">Place any checkbox or radio option within an input
                                group’s
                                addon instead of text. We recommend adding <code>.mt-0</code> to the
                                <code>.form-check-input</code> when there’s no visible text next to the input.
                            </p>
                            <div class="col-md-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-text light">
                                        <input class="form-check-input mt-0" type="checkbox" value=""
                                            aria-label="Checkbox for following text input">
                                    </div>
                                    <input type="text" class="form-control" aria-label="Text input with checkbox">
                                </div>

                                <div class="input-group">
                                    <div class="input-group-text light">
                                        <input class="form-check-input mt-0" type="radio" value=""
                                            aria-label="Radio button for following text input">
                                    </div>
                                    <input type="text" class="form-control" aria-label="Text input with radio button">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="row same-height">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Input Group Multiple Input</h4>
                    </div>
                    <div class="card-body">
                        <p class="form-text mb-2">While multiple <code>&lt;input&gt;</code>s are supported
                            visually,
                            validation styles are only available for input groups with a single
                            <code>&lt;input&gt;</code>.</p>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-text">First and last name</span>
                                    <input type="text" aria-label="First name" class="form-control">
                                    <input type="text" aria-label="Last name" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Input Group Multi Addons</h4>
                    </div>
                    <div class="card-body">
                        <p class="form-text mb-2">Multiple add-ons are supported and can be mixed with checkbox and
                            radio input versions.
                        </p>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">$</span>
                                    <span class="input-group-text">0.00</span>
                                    <input type="text" class="form-control"
                                        aria-label="Dollar amount (with dot and two decimal places)">
                                </div>

                                <div class="input-group">
                                    <input type="text" class="form-control"
                                        aria-label="Dollar amount (with dot and two decimal places)">
                                    <span class="input-group-text">$</span>
                                    <span class="input-group-text">0.00</span>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="row same-height">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Input Addon</h4>
                    </div>
                    <div class="card-body">
                        <p class="form-text mb-2">While multiple <code>&lt;input&gt;</code>s are supported
                            visually,
                            validation styles are only available for input groups with a single
                            <code>&lt;input&gt;</code>.</p>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group mb-3">
                                    <button class="btn btn-outline-primary" type="button"
                                        id="button-addon1">Button</button>
                                    <input type="text" class="form-control" placeholder=""
                                        aria-label="Example text with button addon" aria-describedby="button-addon1">
                                </div>

                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Recipient's username"
                                        aria-label="Recipient's username" aria-describedby="button-addon2">
                                    <button class="btn btn-outline-primary" type="button" id="button-addon2">
                                        <i class="ti ti-search"></i>
                                    </button>
                                </div>

                                <div class="input-group mb-3">
                                    <button class="btn btn-outline-primary" type="button">Button</button>
                                    <button class="btn btn-outline-primary" type="button">Button</button>
                                    <input type="text" class="form-control" placeholder=""
                                        aria-label="Example text with two button addons">
                                </div>

                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Recipient's username"
                                        aria-label="Recipient's username with two button addons">
                                    <button class="btn btn-outline-primary" type="button">Button</button>
                                    <button class="btn btn-outline-primary" type="button">Button</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Input Addon Dropdown</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group mb-3">
                                    <button class="btn btn-outline-primary dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                                    </ul>
                                    <input type="text" class="form-control"
                                        aria-label="Text input with dropdown button">
                                </div>

                                <div class="input-group mb-3">
                                    <input type="text" class="form-control"
                                        aria-label="Text input with dropdown button">
                                    <button class="btn btn-outline-primary dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                                    </ul>
                                </div>

                                <div class="input-group">
                                    <button class="btn btn-outline-primary dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Action before</a></li>
                                        <li><a class="dropdown-item" href="#">Another action before</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                                    </ul>
                                    <input type="text" class="form-control"
                                        aria-label="Text input with 2 dropdown buttons">
                                    <button class="btn btn-outline-primary dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
{% block js %}

{% endblock %}