@import "../theme_colors";

@each $class, $color in $theme-colors {
  .alert-#{$class} {
    background-color: rgba($color, 5%);
    border-color: rgba($color, 5%);
    box-shadow: 0 0 2px $color;
    font-weight: bold;
    color: lighten($color: $color, $amount: 0);
    a {
      color: lighten($color: $color, $amount: 8);
      font-weight: bold;
    }
  }
  @if $class == dark {
    .alert-#{$class} {
      background-color: rgba($color, 50%);
      border-color: rgba($color, 5%);
      box-shadow: 0 0 2px $color;
      // font-weight: bold;
      color: $gray;
    }
  }
}

.swal2-popup {
    background-color: $dark;
}