// =============== SELECT2 ================
.select2-container {
    width: 100% !important;
    &.select2-container--focus {
      .select2-selection--multiple,
      .select2-selection--single {
        border-color: map-get($map: $theme-colors, $key: 'primary');
      }
    }
    .select2-selection--single,
    .select2-selection--multiple {
      &[aria-expanded="true"] {
        border-color: map-get($map: $theme-colors, $key: 'primary');
      }
      border-color: $gray;
      outline: none;
      height: 2.5em;
      // padding: 0.375rem 0.75rem 0.375rem 0.75rem;
      padding-left: 0.75em;
      background-color: $white;
      .select2-selection__arrow {
        top: 0.5em;
      }
      .select2-selection__rendered {
        color: $gray-dark;
        // display: block;
        margin-top: .3em;
      }
  
      .select2-selection__choice {
        background: map-get($map: $theme-colors, $key: 'primary');
        color: $white;
        border: none;
        span {
          color: $white;
        }
      }
      .select2-search__field {
        margin-top: .4em;
        height: 1.5em;
      }

      button.select2-selection__choice__remove{
        border-color: lighten(map-get($map: $theme-colors, $key: 'primary'),15);
        &:hover{
          background: lighten(map-get($map: $theme-colors, $key: 'primary'),15);
        }

      }
    }
  
    // .select2-dropdown {
      // background-color: $dark-secondary;
    // }
    .select2-search--dropdown .select2-search__field {
      // background-color: $dark-secondary;
      &:focus {
        border: 1px solid $gray;
        border-radius: 5px;
        outline: none;
        color: $gray-dark;
      }
    }
    .select2-results__option {
      color: $gray-dark;
      &[aria-selected="true"] {
        background: map-get($map: $theme-colors, $key: 'primary');
        color: $white;
      }
      &.select2-results__option--highlighted[aria-selected="false"] {
        background: $gray-extra-light;
        color: map-get($map: $theme-colors, $key: 'primary');
      }
    }
  }
  
  .dark .select2-container {
      width: 100% !important;
      &.select2-container--focus {
        .select2-selection--multiple,
        .select2-selection--single {
          border-color: map-get($map: $theme-colors, $key: 'primary');
        }
      }
      .select2-selection--single,
      .select2-selection--multiple {
        &[aria-expanded="true"] {
          border-color: map-get($map: $theme-colors, $key: 'primary');
        }
        border-color: $gray-extra-dark;
        background-color: $dark-secondary;
        .select2-selection__rendered {
          color: $gray;
        }
    
        .select2-selection__choice {
          background: map-get($map: $theme-colors, $key: 'primary');
          color: $white;
          span {
            color: $white;
          }
        }
      }
    
      .select2-dropdown {
        background-color: $dark-secondary;
        border-color: $gray-dark;
      }
      .select2-search--dropdown .select2-search__field {
        background-color: $dark-secondary;
        border: 1px solid $gray-dark;
        &:focus {
          border: 1px solid $gray-dark;
          color: $gray;
          outline: none;
        }
      }
      .select2-results__option {
        color: $gray;
        &[aria-selected="true"] {
          background: map-get($map: $theme-colors, $key: 'primary');
          color: $white;
        }
        &.select2-results__option--highlighted[aria-selected="false"] {
          background: $dark;
          color: $white;
        }
      }
    }
  
  // .select2-container--default {
  // }
  
  .form-select-sm {
    ~ .select2-container {
      .select2-selection--single,
      .select2-selection--multiple {
        height: 1.8em;
        // padding: 0rem 0.75rem 0.375rem 0.75rem;
        font-size: 0.9em;
        .select2-selection__arrow {
          top: 0.1em;
        }
        .select2-selection__choice {
          background: map-get($map: $theme-colors, $key: 'primary');
          color: $white;
          border: none;
          span {
            color: $white;
          }
          height: 1.5em;
          font-size: 0.9em;
        }
        .select2-selection__rendered {
          margin-top: -.2em;
          font-size: .9em;
        }
        .select2-search__field {
          margin-top: .25em;
          font-size: .9em;
        }
      }
    }
  }
  .form-select-lg {
    ~ .select2-container {
      .select2-selection--single,
      .select2-selection--multiple {
        height: 2.9em;
        // padding: 0.475rem 2.25rem 0.375rem 0.75rem;
        .select2-selection__arrow {
          top: 0.7em;
        }
        
      }
      .select2-selection__rendered {
        margin-top: .5em;
        font-size: 1.15em;
      }
      .select2-selection__choice {
        background: map-get($map: $theme-colors, $key: 'primary');
        color: $white;
        border: none;
        span {
          color: $white;
        }
        height: 1.5em;
        font-size: 1.2em;
      }
      
      .select2-search__field {
        margin-top: 9px;
        height: 1.5em;
        font-size: 1.15em;
      }
      button.select2-selection__choice__remove{
        height: 1.5em;
      }
      .select2-selection__choice__display{
        padding-left: 8px;
      }
    }
  }

  .select2-container--default .select2-search--inline .select2-search__field {
    font-family: inherit;
  }