@import "templates/global";

/**
***** Template *****
*/
@import "templates/sidebar";
@import "templates/header";
@import "templates/main-content";
@import "templates/footer";
@import "templates/settings";


/**
***** Elements *****
*/
@import "elements/datatables";
@import "elements/select2";
@import "elements/timeline";
@import "elements/chat";
@import "elements/themify_icons";

/**
***** Responsive *****
*/
@media only screen and (max-width: 500px) {
  .main-sidebar{
    margin-left: -270px;
  }

  body.expand-sidebar .main-sidebar{
    margin-left: unset;
  }
}

@media only screen and (max-width: 900px) {
  .collapse-sidebar {
    .main-sidebar {
      margin-left: -270px;
      :hover {
        width: 0 !important;
      }
    }
    .overlay {
      visibility: hidden;
      opacity: 0;
    }
  }
  
  .main-content {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .mobile {
    .main-sidebar {
      margin-left: -270px;
    }
  }

  .close-sidebar {
    display: flex;
  }

  .sidebar-toggle a {
    display: none;
  }

  .header-navbar {
    padding-left: 15px !important;
    padding-right: 15px !important;
    /* width: calc(100vw - (100vw - 100%) - 20px); */
  }

  .overlay {
    visibility: visible;
    opacity: 1;
  }

  footer {
    padding: 0 15px !important;
  }

  .header-content .user-dropdown .label {
    display: none;
  }

  .dropdown-menu {
    &.medium{
    width: calc(100vw - 30px) !important;
    top: 20px !important;
    left: -15px !important;
    }
    &.small {
      top: 10px !important;
      // left: 105px !important;
    }
  }
}

.rounded-top-left{
  border-top-left-radius: .25em;
}
